/* BASE DECORATIONS AND MARGINS */
html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
/*    font-family: "Courier New", Courier, monospace;*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: #F4F4F4;
}

table {
    margin: 0px;
    border-collapse: collapse;
    width: 100%;
    font-size: 10px;
}

table.summary_selections {
    width: 70%;
    margin-left: 50%;
}

td {
    border: 1px solid #AAAAAA;
    padding: 10px;
}

td.header {
    font-weight: bold;
}

td.header_stat, td.header_name {
    font-weight: bold;
    text-align: center;
}

td.header_summary {
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

td.header_cb {
    font-weight: bold;
    width: 30%;
}

td[class^="factors"] {
    color: #AAAAAA;
    font-size: 10px;
    text-align: left;
    width: 55%;
}

td[class^="stat"], td[class^="rb"], td[class^="img"], td[class^="name"] {
    text-align: center;
}

td[class^="desc"] {
    width: 45%;
}

a {
    text-decoration: none;
}

a:link {
    color: #00A1F1;
}

a:hover {
    color: #F65314;
}

a:active {
    color: #F5D61F;
}

a:visited {
    color: #0072C6;
} 

a.footer-link {
    color: #A8A8A8;
    /*font-weight: bold;*/
}

a.footer-link:hover {
    color: #F65314;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

button.back {
    background: #838E91;
    color: #FFFFFF;
}

button.back:hover {
    background: #CDD1D3;
    color: #000000;
}

button.next {
    background: #0F9D58;
    color: #FFFFFF;
}

button.next:hover {
    background: #9FD7BC;
    color: #000000;
}

hr {
    border: 0;
    color: #E5F5FD;
    background: #E5F5FD;
    height: 1px;
    width: 70%;
    margin-top: 40px;
    margin-left: 0px;
}

.footnote {
    color: #AAAAAA;
    font-size: 10px;
}

/* CONTENT AREAS */
body {
    background-color: #FFFFFF;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.main-page-content {
    margin-left: 75px;
    width: 85%;
    padding-bottom: 50px;
}

.navButtons {
    padding-right: 50px;
    padding-bottom: 50px;
    text-align: right;
}

.contentBlurb {
    font-size: 12px;
    padding-bottom: 10px;
}

/* HEADERS AND FOOTERS */
header {
    background-color: #E8E9DB;
    color: #FFFFFF;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    margin-top: 0px;
    padding: 15px;
}

nav {
    background-color: #B9BAAF;
    border-color: #272727;
    border-width: 1px;
    border-top-style: dotted;
    border-bottom-style: dotted;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 12px;
    color: #94948C;
}

footer {
    background-color: #F4F4F4;
    border-color: #272727;
    border-width: 1px;
    border-top-style: dotted; 
    color: #AAAAAA;
    text-align: center;
    padding: 20px 0px 20px 0px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}