{% load staticfiles %}

<!DOCTYPE html>

<html>
<head>
    <title>LaunchPad</title>
    <link rel="stylesheet" type="text/css" href="{% static "launchlist/base.css" %}">
    <meta charset="utf-8">
</head>

<body>

<header>
LaunchPad
</header>

<nav>
<a href="/">Intro</a> *---* 
<a href="/mission/">Mission</a> *---* 
<a href="/spacecraft/">Spacecraft</a> *---* 
<a href="/vehicle/">Launch Vehicle</a> *---* 
<a href="/summary/">Summary</a>
</nav>

<div class="main-page-content">
    <!-- <form id="form_mission" action="/record/" method="post"> -->
    <form id="form_{{ form_name }}" action="/record/" method="post">   <!-- navButtons will close the form -->
    {% csrf_token %}
    
    {{ content_mainPage }}
</div>

<div class="navButtons">
    {{ navButtons }}
</div>

<footer>
This is the site footer.
</footer>

</body>	
</html>